<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RsapServiceTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <RsapServiceTests.Properties.Settings>
            <setting name="RsapClientId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RsapClientSecret" serializeAs="String">
                <value>your-client-secret</value>
            </setting>
            <setting name="CertPfxFilePath" serializeAs="String">
                <value>path-to-your-certificate-pfx-file</value>
            </setting>
            <setting name="RsapBaseUrl" serializeAs="String">
                <value>https://api-test.rsap.ca/</value>
            </setting>
        </RsapServiceTests.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>