<?xml version="1.0" encoding="utf-8" ?>

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RsapServiceTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <RsapServiceTests.Properties.Settings>
            <setting name="RsapClientId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RsapClientSecret" serializeAs="String">
                <value>your-client-secret</value>
            </setting>
            <setting name="RsapBaseUrl" serializeAs="String">
                <value>https://api-test.rsap.ca</value>
            </setting>
            <setting name="CertPfxFilePath" serializeAs="String">
                <value>path-to-your-certificate-pfx-file</value>
            </setting>
        </RsapServiceTests.Properties.Settings>
    </applicationSettings>
</configuration>